html {
  scroll-behavior: smooth;
}

.wedding-app-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #fdfcf9;
  overflow-x: hidden;
}

.wedding-main-content section {
  scroll-margin-top: 80px; /* Offset để khi cuộn tới không bị đè bởi Header */
}
